.schema-generator {
    margin: 2rem auto;
    width: 1080px;
}

.schema-generator__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem
}

.schema-generator__label{
    font-size: large;
    font-weight: bold;  
}

/* Input Styles */

.schema-generator__input{
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.schema-generator__inputfield{
    height: 500px;
    background-color: #1a1a1a;
    border: 1px solid #444;
    resize: none;
    padding: 0.5rem;
}
.schema-generator__btn{
    width: 200px;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
}

/* Output Styles */

.schema-generator__output {
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.schema-generator__outputfield{
    height: 500px;
    background-color: #1a1a1a;
    border: 1px solid #444;
    resize: none;
    padding: 0.5rem;
}

.schema-generator__output-error{
    color: red;
    font-weight: bold;
    padding: 2px;
    border-radius: 10px;
}


/* Global */ 

textarea:focus, input:focus {
    outline: none;
    border-color: #888;
    box-shadow: 0 0 2px #888;
}