.schema-generator, .path-checker  {
    margin: 1rem auto 3rem auto;
    width: 1080px;
}

.schema-generator__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem
}

.schema-generator__fields{
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.schema-generator__btn{
    width: 150px;
}

.schema-generator__actions {
    display: flex;
    gap: 1rem;
}

.path-checker__fields{
    display: grid;
    gap: 1rem;
    margin-bottom: 2rem;
}


.path-checker__input {
    background-color: #1E1E1E;
    border: 1px solid transparent;
    padding: 1rem;
    color: #9cdcfe;
}

.codemirror__editor {
    font-size: 0.8rem;
}
