.path-checker {
    margin: 0 auto;
    width: 1080px;
}

.path, .results{
    display: grid;
    gap: 1rem;
    margin-bottom: 2rem;
}


.path_label, .results_label {
    font-size: large;
    font-weight: bold;
}

.path_input {
    background-color: #1a1a1a;
    border: 1px solid #444;
}

.results_output {
    height: 500px;
    background-color: #1a1a1a;
    border: 1px solid #444;
}